:root {
    /* colors */
    --off-white: #eeebe7;
    --dark-green: #1e4026;
    --light-green: #989455;
    --light-pink: #f2b9ac;
    --dark-pink: #f28080;
    --bright-red: #f2522e;

    background-color: #1e4026;
}

